.asi-console {
  margin: 0 0 20px;
  padding: 10px;
  height: 120px;
  flex: 0 1 auto;
  overflow: auto;
  background-color: var(--cell-inactive-color);
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  word-break: break-all;
  color: var(--text-color);
}

.asi-console__message {
  margin-bottom: 5px;

  &::before {
    display: inline-block;
    content: '> ';
  }
}
