{
  "extends": ["eslint:recommended"],
  "env": {
    "amd": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "document": true,
    "window": true,
    "Promise": true,
    "onmessage": true,
    "postMessage": true,
    "Worker": true,
    "Blob": true,
  },
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "func-style": [2, "declaration"],
    "indent": [2, 2, {"SwitchCase": 0}],
    "keyword-spacing": [2],
    "max-len": [2, 100],
    "no-case-declarations": [0],
    "no-trailing-spaces": [2],
    "no-var": [2],
    "object-curly-spacing": [2, "always"],
    "prefer-const": [2],
    "quotes": [2, "single"],
    "semi": [2, "always"]
  }
}
