.sh-console {
  position: relative;
  background-color: var(--cell-inactive-color);
}

.sh-console__clear {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: var(--space--x1);
  background-color: var(--background-color);
  opacity: 0.6;
  transition: opacity 300ms ease;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 1;
  }
}

.sh-console__messages {
  padding: var(--space--x2);
  height: 7.5rem;
  overflow: auto;
  font-family: "Courier New", Courier, monospace;
}

.sh-console__message::before {
  display: inline-block;
  content: '> ';
  margin-right: var(--space--x1);
}
