.sh-button {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 0.0625rem solid transparent;
  border-radius: 0.1875rem;
  background-color: transparent;
  color: var(--text-color);
  font-weight: 600;
  appearance: none;
  transition: opacity 300ms ease,
              background-color 300ms ease,
              box-shadow 300ms ease;

  &:last-child { margin-right: 0; }

  &:hover { cursor: pointer; }
  &:focus { outline: 0; }
  &:active { box-shadow: inset 0.125rem 0.125rem 0.1875rem rgba(0, 0, 0, 0.5); }
  &:disabled { opacity: .2; box-shadow: none; }
}

.sh-button--shrink { width: auto; }

.sh-button--gray {
  background-color: var(--oc-gray-2);
  color: var(--oc-gray-9);

  &:hover { background-color: var(--oc-gray-3); }
  &:active { background-color: var(--oc-gray-4); }
  &:disabled { background-color: var(--oc-gray-2); }
}

.sh-button--green {
  background-color: var(--oc-green-5);

  &:hover { background-color: var(--oc-green-6); }
  &:active { background-color: var(--oc-green-7); }
  &:disabled { background-color: var(--oc-green-5); }
}

.sh-button--red {
  background-color: var(--oc-red-5);

  &:hover { background-color: var(--oc-red-6); }
  &:active { background-color: var(--oc-red-7); }
  &:disabled { background-color: var(--oc-red-5); }
}

.sh-button--blue {
  background-color: var(--oc-blue-5);

  &:hover { background-color: var(--oc-blue-6); }
  &:active { background-color: var(--oc-blue-7); }
  &:disabled { background-color: var(--oc-blue-5); }
}

.sh-button--yellow {
  background-color: var(--oc-yellow-5);

  &:hover { background-color: var(--oc-yellow-6); }
  &:active { background-color: var(--oc-yellow-7); }
  &:disabled { background-color: var(--oc-yellow-5); }
}

.sh-button-group {
  display: flex;
  justify-content: center;

  & .sh-button {
    border-radius: 0;
    border-right-color: rgba(0, 0, 0, 0.5);

    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-right-color: transparent;
    }
  }
}
