.sh-text {
  margin: 0;
  font-weight: inherit;
}

.sh-text--color-light { color: var(--oc-gray-2); }
.sh-text--color-dark  { color: var(--oc-gray-9); }

.sh-text--small  { font-size: 0.875rem; line-height: 1.125rem; }
.sh-text--medium { font-size: 1rem; line-height: 1.5rem; }
.sh-text--large  { font-size: 1.5rem ; line-height: 1.75rem; }

.sh-text--weak     { font-weight: 400; }
.sh-text--strong   { font-weight: 700; }
.sh-text--subtle   { color: var(--text-color-subtle); }

.sh-text--space-x1 { margin: var(--space--x1) 0; }
.sh-text--space-x2 { margin: var(--space--x2) 0; }
.sh-text--space-x4 { margin: var(--space--x4) 0; }

.sh-text--space-x1,
.sh-text--space-x2,
.sh-text--space-x4 {
  &:first-child { margin-top: 0; }
  &:last-child  { margin-bottom: 0; }
}
