:root {
  --menu-item-spacing: 1rem;
  --menu-snake-size: 0.25rem;
}

.sh-menu {
  display: flex;
  align-items: center;
}

.sh-menu__item {
  position: relative;
  margin-right: var(--menu-item-spacing);
  padding-right: var(--menu-item-spacing);
  border-right: 0.0625rem dotted var(--oc-gray-5);
  color: inherit;
  font-weight: 600;
  text-decoration: none;

  &:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;

    &::before {
      right: 0;
    }

    &::after {
      width: calc(80% - (var(--menu-snake-size) * 2));
    }
  }

  &::before,
  &::after {
    position: absolute;
    bottom: calc((var(--menu-snake-size) * 2) * -1);
    height: var(--menu-snake-size);
    content: "";
    transition-property: width, opacity, transform;
    transition-duration: var(--transition-time-slow);
    transition-timing-function: var(--transition-function);
  }

  &::before {
    right: var(--menu-item-spacing);
    width: var(--menu-snake-size);
    background-color: var(--cell-point-color);
    transform: scaleX(0);
    transform-origin: right;
  }

  &::after {
    left: 0;
    width: calc(80% - ((var(--menu-snake-size) * 2) + var(--menu-item-spacing)));
    background: linear-gradient(to right,
      rgba(255,224,102,1) 0%,
      rgba(192,235,117,1) 50%,
      rgba(102,217,232,1) 100%
    );
    transform: scaleX(0);
    transform-origin: left;
  }
}

.sh-menu__item--activatable.sh-menu__item--active,
.sh-menu__item--activatable.sh-menu__item:hover {
  &::before,
  &::after {
    transform: scaleX(1);
  }
}

.sh-menu__item--activatable.sh-menu__item--active,
.sh-menu__item--activatable.sh-menu__item--active:hover {
  &::after {
    width: calc(100% - var(--menu-item-spacing));
  }

  &:last-child::after {
    width: 100%;
  }
}
