.sh-editor {
  flex: 1 1 100%;
}

.ace-sh .ace_gutter {
  background: var(--background-color);
  color: var(--text-color-subtle);
}

.ace-sh {
  background-color: var(--background-color);
  color: var(--oc-gray-4);
}

.ace-sh .ace_cursor {
  color: var(--oc-gray-6);
}

.ace-sh .ace_marker-layer .ace_selection {
  background-color: var(--oc-gray-8);
}

.ace-sh.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 0.1875rem 0 var(--oc-gray-9);
}

.ace-sh .ace_gutter-active-line {
  background-color: transparent;
}

.ace-sh .ace_marker-layer .ace_selected-word {
  border: 0;
}

.ace-sh .ace_entity.ace_name.ace_tag,
.ace-sh .ace_keyword,
.ace-sh .ace_meta.ace_tag,
.ace-sh .ace_storage {
  color: var(--oc-red-7);
}

.ace-sh .ace_punctuation,
.ace-sh .ace_punctuation.ace_tag {
  color: var(--oc-gray-2);
}

.ace-sh .ace_constant.ace_character,
.ace-sh .ace_constant.ace_language,
.ace-sh .ace_constant.ace_numeric,
.ace-sh .ace_constant.ace_other {
  color: var(--oc-violet-4);
}

.ace-sh .ace_invalid {
  color: var(--oc-gray-2);
  background-color: var(--oc-red-7);
}

.ace-sh .ace_support.ace_constant,
.ace-sh .ace_support.ace_function {
  color: var(--oc-blue-4);
}

.ace-sh .ace_storage.ace_type,
.ace-sh .ace_support.ace_class,
.ace-sh .ace_support.ace_type {
  font-style: italic;
  color: var(--oc-cyan-4);
}

.ace-sh .ace_entity.ace_name.ace_function,
.ace-sh .ace_entity.ace_other,
.ace-sh .ace_entity.ace_other.ace_attribute-name,
.ace-sh .ace_variable {
  color: var(--oc-green-3);
}

.ace-sh .ace_variable.ace_parameter {
  font-style: italic;
  color: var(--oc-orange-4);
}

.ace-sh .ace_string {
  color: var(--oc-yellow-3);
}

.ace-sh .ace_comment {
  color: var(--oc-gray-6);
}

.ace-sh .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ0FD0ZXBzd/wPAAjVAoxeSgNeAAAAAElFTkSuQmCC) right repeat-y
}
