.sh-routing-animation-fade--appear,
.sh-routing-animation-fade--enter {
  opacity: 0;
  transform: translate3d(25%, 0, 0);
}

.sh-routing-animation-fade--appear-active,
.sh-routing-animation-fade--enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-property: opacity, transform;
  transition-delay: var(--transition-time-slow);
  transition-duration: var(--transition-time-slow);
  transition-timing-function: var(--transition-function);
}

.sh-routing-animation-fade--exit {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.sh-routing-animation-fade--exit-active {
  opacity: 0;
  transform: translate3d(-25%, 0, 0);
  transition-property: opacity, transform;
  transition-duration: var(--transition-time-slow);
  transition-timing-function: var(--transition-function);
}


.sh-routing-animation-fade--exit,
.sh-routing-animation-fade--exit-active {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
