.sh-app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}

.sh-app__header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0;
  min-height: 2.25rem;
  flex: 0 1 auto;
}

.sh-app__body {
  position: relative;
  flex: 1 1 auto;
  overflow: hidden;
}

.sh-app__footer {
  position: relative;
  height: 3rem;
  flex: 0 1 auto;
}

.sh-app__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 20px;
  transition-property: opacity, transform;
  transition-duration: var(--transition-time-slow);
  transition-timing-function: var(--transition-function);
  opacity: 0;
}

.sh-app__container:nth-child(1) { transform: translateX(-100%); }
.sh-app__container:nth-child(2) { transform: translateY(-100%); }
.sh-app__container:nth-child(3) { transform: translateX(100%); }

.sh-app__container:nth-child(1).sh-app__container--visible,
.sh-app__container:nth-child(2).sh-app__container--visible,
.sh-app__container:nth-child(3).sh-app__container--visible {
  opacity: 1;
  transform: translate(0%, 0%);
}

.sh-app__pane {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  justify-content: center;
}

.sh-app__pane--shrink {
  flex: 0 1 auto;
}

.sh-app__section {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin: var(--page-padding) 0 0;

  &:first-child { margin-top: 0; }
}

.sh-app__section--shrink {
  flex: 0 1 auto;
}

.sh-app__section--end {
  align-items: flex-end;
}

.sh-app__title {
  font-size: 1.3rem;
  font-weight: bold;
}
