.sh-score-tiles {
  display: flex;
}

.sh-score-tile {
  flex: 1 1 auto;
  text-align: center;
}

.sh-score-tile__label {
  color: var(--text-color-subtle);
}

.sh-score-tile__value {
  margin: 0 0.25rem 0 0;
  font-size: 2rem;
  color: var(--text-color);
}

