.sh-absolute__container {
  position: relative;
}

.sh-absolute__child {
  display: flex;
  position: absolute;
  overflow: auto;
}

.sh-absolute__child--full {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sh-absolute__child--center {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  max-width: 100%;
}
