@keyframes bounce {
  0%   { transform: translate3d(0,  0%, 0); }
  25%  { transform: translate3d(0, 25%, 0); }
  100% { transform: translate3d(0,  0%, 0); }
}

.sh-about__step {
  width: 37.5rem;
  padding: 1rem;
  text-align: center;
}

.sh-about__image {
  padding: 1rem 3rem;
}

.sh-about__step-controls {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.sh-about__step-link {
  padding: 0.25rem;
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}

.sh-about__step-bounce {
  animation-name: bounce;
  animation-duration: calc(var(--transition-time-slow) * 2);
  animation-timing-function: var(--transition-function);
  animation-iteration-count: infinite;
}
