.sh-solution-title__container {
  transition-property: opacity;
  transition-duration: var(--transition-time-fast);
  transition-timing-function: var(--transition-function);
}

.sh-solution-title {
  display: block;
  min-width: 0;
  width: 100%;
  padding: 0 var(--space--x1);
  border: 0;
  background-color: transparent;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;

  &:focus { outline: 0.0625rem dashed var(--oc-blue-7); }
  &::placeholder { font-style: italic; }
}
