.sh-solution {
  overflow: hidden;
  background-color: var(--oc-gray-8);
  border-radius: var(--border-radius);
}

.sh-solution__transition-enter {
  opacity: 0;
}

.sh-solution__transition-enter-active {
  opacity: 1;
  transition-property: opacity;
  transition-duration: var(--transition-time-slow);
  transition-timing-function: var(--transition-function);
}

.sh-solution__transition-exit {
  opacity: 1;
}

.sh-solution__transition-exit-active {
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--transition-time-base);
  transition-timing-function: var(--transition-function);
}

.sh-solution-notification--error { background-color: var(--oc-red-5); }
.sh-solution-notification--info  { background-color: var(--oc-blue-5); }
