.sh-solutions {
  width: 100%;
  overflow: auto;
}

.sh-solution {
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-radius: 0.3125rem;
  background-color: var(--oc-gray-8);
}

.sh-solution__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -2rem;
}

.sh-solution__details,
.sh-solution__stats,
.sh-solution__actions {
  margin: 0 2rem 2rem 0;

  &:last-child { margin-right: 0; }
}

.sh-solution__avatar {
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.sh-solution__details {
  flex: 1 1 0%;
}

.sh-solution__name {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 0 0.125rem;
  color: var(--text-color);
}

.sh-solution__user {
  font-size: 0.875rem;
  font-style: italic;
  color: var(--text-color-subtle);
  white-space: nowrap;
}

.sh-solution__date {
  font-size: 0.875rem;
  font-style: italic;
  color: var(--text-color-subtle);
}

.sh-solution__actions {
  flex: 0 0 auto;
}

.sh-solution__avatar-container {
  display: flex;
}

.sh-solution__stats {
  display: flex;
  flex: 0 0 auto;
}

.sh-solution__stat {
  flex: 0 0 auto;
  margin-right: 1rem;

  &:last-child { margin-right: 0; }
}

.sh-solution__stat-value {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-right: 0.25rem;
}

.sh-solution__stat-label {
  color: var(--text-color-subtle);
}

