.sh-flex--container  { display: flex; }

.sh-flex             { flex: 1 1 0%; }
.sh-flex--shrink     { flex: 0 0 auto; }

.sh-flex--horizontal { flex-direction: row; }
.sh-flex--vertical   { flex-direction: column; }

.sh-flex--container > .sh-flex {
  margin: calc(var(--spacing) / 2);

  &:first-child { margin-top: 0; margin-left: 0; }
  &:last-child { margin-right: 0; margin-bottom: 0; }
}

.sh-flex--vertical > .sh-flex { margin-left: 0; margin-right: 0; }
.sh-flex--horizontal > .sh-flex { margin-top: 0; margin-bottom: 0; }

.sh-flex--center-children {
  align-items: center;
  justify-content: center;
}

.sh-flex--align-self--end {
  align-self: flex-end;
}
