.sh-flex--container  {
  display: flex;
}

.sh-flex             { flex: 1 1 0%; }
.sh-flex--full       { flex: 1 1 100%; }
.sh-flex--shrink     { flex: 0 0 auto; }

.sh-flex--horizontal { flex-direction: row; }
.sh-flex--vertical   { flex-direction: column; }

.sh-flex--align-self--start  { align-self: flex-start; }
.sh-flex--align-self--middle { align-self: center; }
.sh-flex--align-self--end    { align-self: flex-end; }

.sh-flex--padding-x1 { padding: var(--space--x1); }
.sh-flex--padding-x2 { padding: var(--space--x2); }
.sh-flex--padding-x3 { padding: var(--space--x3); }
.sh-flex--padding-x4 { padding: var(--space--x4); }
.sh-flex--padding-x6 { padding: var(--space--x6); }

.sh-flex--space-x1 > .sh-flex { margin: var(--space--x1); }
.sh-flex--space-x2 > .sh-flex { margin: var(--space--x2); }
.sh-flex--space-x3 > .sh-flex { margin: var(--space--x3); }
.sh-flex--space-x4 > .sh-flex { margin: var(--space--x4); }
.sh-flex--space-x6 > .sh-flex { margin: var(--space--x6); }

.sh-flex--container > .sh-flex {
  &:first-child {
    margin-top: 0;
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.sh-flex--vertical > .sh-flex {
  margin-left: 0;
  margin-right: 0;
}

.sh-flex--horizontal > .sh-flex {
  margin-top: 0;
  margin-bottom: 0;
}

.sh-flex--horizontal {
  &.sh-flex--align-horz-start  { justify-content: flex-start; }
  &.sh-flex--align-horz-middle { justify-content: center; }
  &.sh-flex--align-horz-end    { justify-content: flex-end; }
  &.sh-flex--align-horz-around { justify-content: space-around; }
  &.sh-flex--align-horz-beween { justify-content: space-between; }

  &.sh-flex--align-vert-start  { align-items: flex-start; }
  &.sh-flex--align-vert-middle { align-items: center; }
  &.sh-flex--align-vert-end    { align-items: flex-end; }
}

.sh-flex--vertical {
  &.sh-flex--align-horz-start  { align-items: flex-start; }
  &.sh-flex--align-horz-middle { align-items: center; }
  &.sh-flex--align-horz-end    { align-items: flex-end; }

  &.sh-flex--align-vert-start  { justify-content: flex-start; }
  &.sh-flex--align-vert-middle { justify-content: center; }
  &.sh-flex--align-vert-end    { justify-content: flex-end; }
  &.sh-flex--align-vert-around { justify-content: space-around; }
  &.sh-flex--align-vert-beween { justify-content: space-between; }
}
