.sh-notifications-bar {
  position: relative;
}

.sh-notifications-bar--visible {
  & .sh-notifications-bar__notifications {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  };

  & .sh-notifications-bar__content {
    opacity: 0;
    pointer-events: none;
  }
}

.sh-notifications-bar__notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 0.5rem;
  transform: translate3d(0, -100%, 0);
  opacity: 0;
  border-radius: 0.25rem;
  text-align: center;
  font-weight: 600;
  cursor: pointer;

  @nest .sh-notifications-bar--error & {
    background-color: var(--oc-red-7);
    color: var(--text-color);
  }

  @nest .sh-notifications-bar--success & {
    background-color: var(--oc-green-7);
    color: var(--text-color);
  }
}

.sh-notifications-bar__notifications,
.sh-notifications-bar__content {
  transition-property: background-color, color, opacity, transform;
  transition-duration: var(--transition-time-slow);
  transition-timing-function: var(--transition-function);
}
