:root {
  --user-avatar__size: 2rem;
}

.sh-user-avatar {
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: var(--user-avatar__size);
}

.sh-user-avatar__name {
  padding: 0 .5rem 0 1rem;
  font-size: 0.875rem;
  font-weight: bold;
}

.sh-user-avatar__img {
  width: var(--user-avatar__size);
  height: var(--user-avatar__size);
  border-radius: 50%;
}
