.sh-pages {
  position: relative;
  flex: 1 1 0%;
}

.sh-pages__page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  transition-property: opacity, transform;
  transition-duration: var(--transition-time-slow);
  transition-timing-function: var(--transition-function);
}

.sh-pages__page--active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-delay: var(--transition-time-slow);
}
