<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Snake Heuristics</title>
    <meta name="author" content="Harry Hogg">
    <meta name="description" content="Snake Heuristics">
    <meta name="keywords" content="AI,Artificial Intelligence,Snake,Game,Pathfinding,Heuristics">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png?v=XBzbRQ502a">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png?v=XBzbRQ502a">
    <link rel="icon" type="image/png" sizes="194x194" href="/assets/favicon-194x194.png?v=XBzbRQ502a">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/android-chrome-192x192.png?v=XBzbRQ502a">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png?v=XBzbRQ502a">
    <link rel="manifest" href="/assets/manifest.json?v=XBzbRQ502a">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg?v=XBzbRQ502a" color="#212529">
    <link rel="shortcut icon" href="/assets/favicon.ico?v=XBzbRQ502a">
    <meta name="msapplication-config" content="/assets/browserconfig.xml?v=XBzbRQ502a">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <% if (htmlWebpackPlugin.options.stylesheet) { %>
      <link href="<%= htmlWebpackPlugin.options.stylesheet %>" rel="stylesheet">
    <% } %>
  </head>
  <body>
    <div class="sh-app-container" id="react-root">
      <% if (htmlWebpackPlugin.options.html) { %>
        <%= htmlWebpackPlugin.options.html %>
      <% } %>
    </div>

    <% if (htmlWebpackPlugin.options.script) { %>
      <script src="<%= htmlWebpackPlugin.options.script %>" type="application/javascript"></script>
    <% } %>
  </body>
</html>
