<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Snake Heuristics</title>
    <meta name="author" content="Harry Hogg">
    <meta name="description" content="Snake Heuristics">
    <meta name="keywords" content="AI,Artificial Intelligence,Snake,Game,Pathfinding,Heuristics">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <% if (htmlWebpackPlugin.options.stylesheet) { %><link href="<%= htmlWebpackPlugin.options.stylesheet %>" rel="stylesheet"><% } %>
  </head>
  <body>
    <div class="sh-app-container" id="react-root"><% if (htmlWebpackPlugin.options.html) { %><%= htmlWebpackPlugin.options.html %><% } %></div>
    <% if (htmlWebpackPlugin.options.script) { %><script src="<%= htmlWebpackPlugin.options.script %>" type="application/javascript"></script><% } %>
  </body>
</html>
