.ace-asi .ace_gutter {
  background: var(--dark-0);
  color: var(--text-color-subtle);
}

.ace-asi {
  background-color: var(--background-color);
  color: var(--light-0);
}

.ace-asi .ace_cursor {
  color: var(--grey-0);
}

.ace-asi .ace_marker-layer .ace_selection {
  background: var(--dark-1);
}

.ace-asi.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px var(--dark-0);
}

.ace-asi .ace_gutter-active-line {
  background-color: transparent;
}

.ace-asi .ace_marker-layer .ace_selected-word {
  border: 0;
}

.ace-asi .ace_entity.ace_name.ace_tag,
.ace-asi .ace_keyword,
.ace-asi .ace_meta.ace_tag,
.ace-asi .ace_storage {
  color: #f03e3e;
}

.ace-asi .ace_punctuation,
.ace-asi .ace_punctuation.ace_tag {
  color: var(--light-2);
}

.ace-asi .ace_constant.ace_character,
.ace-asi .ace_constant.ace_language,
.ace-asi .ace_constant.ace_numeric,
.ace-asi .ace_constant.ace_other {
  color: #9775fa;
}

.ace-asi .ace_invalid {
  color: var(--light-2);
  background-color: #f03e3e;
}

.ace-asi .ace_support.ace_constant,
.ace-asi .ace_support.ace_function {
  color: #4dadf7;
}

.ace-asi .ace_storage.ace_type,
.ace-asi .ace_support.ace_class,
.ace-asi .ace_support.ace_type {
  font-style: italic;
  color: #3bc9db;
}

.ace-asi .ace_entity.ace_name.ace_function,
.ace-asi .ace_entity.ace_other,
.ace-asi .ace_entity.ace_other.ace_attribute-name,
.ace-asi .ace_variable {
  color: #8ce99a;
}

.ace-asi .ace_variable.ace_parameter {
  font-style: italic;
  color: #ffa94d;
}

.ace-asi .ace_string {
  color: #ffe066;
}

.ace-asi .ace_comment {
  color: var(--grey-0);
}

.ace-asi .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ0FD0ZXBzd/wPAAjVAoxeSgNeAAAAAElFTkSuQmCC) right repeat-y
}
