:root {
  --dark-0: #212529;
  --dark-1: #343a40;
  --dark-2: #495057;

  --light-0: #ced4da;
  --light-1: #dee2e6;
  --light-2: #e9ecef;

  --grey-0: #868e96;

 --background-color: var(--dark-0);
 --text-color: var(--light-2);
 --text-color-subtle: var(--grey-0);

 --cell-inactive-color: var(--dark-1);
 --cell-snake-head-color: #fab005;
 --cell-snake-tail-color: #ffe066;
 --cell-point-color: #329af0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  min-height: 100%;
}

body {
  height: 100vh;
  font-family: Roboto-Light, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
}

.asi-app {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: var(--background-color);
}

.asi-app__arena {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 0;

  flex: 5 0 0%;
}

.asi-app__ide {
  flex: 1 0 500px;
}

.asi-canvas {
  margin: 0 0 20px;
  flex: 1 1 auto;
}

.asi-console {
  margin: 0 0 20px;
  padding: 10px;
  height: 120px;
  flex: 0 1 auto;
  overflow: auto;
  background-color: var(--cell-inactive-color);
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  word-break: break-all;
  color: var(--text-color);
}

.asi-console__message::before {
  display: inline-block;
  content: '> ';
}

.asi-controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 auto;
}

.asi-controls__box {
  flex: 1 1 auto;
  padding: 20px;
  text-align: center;
}

.asi-controls__box:last-child {
  margin-right: 0;
}

.asi-controls__stat-value {
  font-size: 2rem;
  color: var(--text-color);
}

.asi-controls__stat-label {
  color: var(--text-color-subtle);
}

.asi-button {
  width: 100%;
  margin: 0 5px 0 0;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  background-color: transparent;
  color: var(--text-color);
  appearance: none;
  transition: background-color 300ms ease,
              box-shadow 300ms ease;
}

.asi-button:last-child {
  margin-right: 0;
}

.asi-button:hover {
  cursor: pointer;
}

.asi-button:focus {
  outline: 0;
}

.asi-button:active {
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.asi-button[disabled] {
  opacity: .2;
}

.asi-button--green { background-color: #51cf66; }
.asi-button--green:not([disabled]):hover { background-color: #40c057; }
.asi-button--green:active { background-color: #37b24d; }

.asi-button--red { background-color: #ff6b6b; }
.asi-button--red:not([disabled]):hover { background-color: #fa5252; }
.asi-button--red:active { background-color: #f03e3e; }

.asi-button--blue { background-color: #329af0; }
.asi-button--blue:not([disabled]):hover { background-color: #228ae6; }
.asi-button--blue:active { background-color: #1c7cd6; }


